@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">

        <div class="resume-section-content">
            @foreach (var item in Model.Abouts)
            {
                <h1 class="mb-0">
                    @Html.Raw(item.Name)
                </h1>
                <div class="subheading mb-5">
                    @item.PhoneNum
                    <a href="mailto:name@email.com">@item.Email</a>
                </div>
                <p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
                <div class="social-icons">
                    <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
                    <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
                </div>
            }
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">

        <div class="resume-section-content">
            @foreach (var item in Model.Experiences)
            {
                <h2 class="mb-5">Experience</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">@item.Profession</h3>
                        <div class="subheading mb-3">@item.Title</div>
                        <p>@item.Desc</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">@item.History</span></div>
                </div>
            }
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            @foreach (var item in Model.Educations)
            {
                <h2 class="mb-5">Education</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">@item.UniName</h3>
                        <div class="subheading mb-3">@item.BachelorDegree</div>
                        <div>@item.Specialty</div>
                        <p>GPA: 92.25</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">@item.History</span></div>
                </div>
            }
        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            @foreach (var item in Model.Skills)
            {
                <h2 class="mb-5">Skills</h2>
                <div class="subheading mb-3">@item.Title1</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item">@item.Icons</li>
                </ul>
                <div class="subheading mb-3">@item.Works</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        @item.WorkText
                    </li>
                </ul>
            }
        </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            @foreach (var item in Model.Interests)
            {
                <h2 class="mb-5">Interests</h2>
                <p>@item.Text</p>
            }
        </div>
    </section>
    <hr class="m-0" />
    <!-- Awards-->
    <section class="resume-section" id="awards">
        <div class="resume-section-content">
            @foreach (var item in Model.Awards)
            {
                <h2 class="mb-5">Awards & Certifications</h2>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        @item.Certificate
                    </li>                
                </ul>
            }
        </div>
    </section>
</div>

